.places__like {
  background-attachment: transparent;
  background-image: url(../../../images/places/like.svg);
  width: 21px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;

}
