.width {
  width: calc(100% - 38px);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .width {
    width: calc(100% - 144px);
  }
}

@media screen and (min-width: 1024px) {
  .width {
    width: calc(100% - 390px);
  }
}

