.edit-form__button {
  background: #000;
  color: #fff;
  font-family: inherit;
  width: 100%;
  border: 0;
  text-align: center;
  padding: 14px 0;
  margin: 60px 0 0;
  font-size: 18px;
  line-height: 1.22;
  border-radius: 2px;
}

.edit-form__button:hover {
  opacity: .8;
}
