.profile__name{
  font-weight: 500;
  font-size: 27px;
  line-height: 2.07;
  text-align: center;
  margin: 0 4px 0 0;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 280px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .profile__name {
    font-size: 42px;
    line-height: 1.33;
    text-align: left;
    margin: 0 17px 4px 0;
    max-width: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__name {
    max-width: 500px;
  }
}

@media screen and (min-width: 1440px) {
  .profile__name {
    max-width: 650px;
  }
}


